<h1>{{ booking.id }}</h1>
<h3>{{ booking.creator }}</h3>


{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<h1> Here are all your bookings</h1>
    <ul>
        {% for booking in object_list %}
        <li> {{ booking.creator }}</li>
        <li> {{ booking.date }}
        <li> {{ booking.time }}</li>
        <li> {{ booking.start_position }}</li>
        <li> {{ booking.destination }}</li>
        <li> {{ booking.max_numbers }}</li>
        <li> {{ booking.creator }}</li>
        {% endfor %}
    </ul>
