{% extends 'register/base_visitor.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel-group">
                    <div class="row align-items-start">
                    <div class="col"></div>
                        <div class=".col-12 .col-md-4"><h1>Register for an Account</h1></div>
                    </div>

                        <div class="panel-body">
                            <form class="form-horizontal" role="form" action="" method="post" align="right" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'register/form_template.html' %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary" >Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
