{% extends 'register/base_visitor.html' %}

{%block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel-group">
                    <div class="row align-items-start">
                        <div class="col"></div>
                        <div class=".col-12 .col-md-4"><h1>Register for an Account</h1></div>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {% extends 'register/form_template.html' %}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
