body{
    background-color: #39CCCC;
}


.navbar{
    border-radius: 0;
}


.navbar-brand{
    font-family: 'Satisfy', cursive;
}


label.control-label {
    font-family: 'cursive';
}


.navbar-toggler.toggler-example {
    color:#212121;
}


.card {
    min-height: 200px;
}
